@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/_header.scss';
@import '~resources/scss/partials/_main.scss';
@import '~resources/scss/partials/_details_comics.scss';
@import '~resources/scss/partials/_footer.scss';
@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_variables.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}