@import '../partials/mixins';
@import '../partials/variables.scss';

.up-header {
    width: 100%;
    background-color: $blue;

    .menu {
        @include flex;
        @include j-end;
        @include a-center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a {
            text-decoration: none;
            list-style-type: none;
            color: white;
            font-size: 12px;
            padding: 10px;

            &:hover {
                color: black;
            }
        }
    }
}

nav {
    width: 100%;

    ul {
        margin: 0;
        padding: 0;

        li {
            @include listUp;

            a {
                text-decoration: none;
                color: $black;

                &.active,
                &:hover {
                    color: $blue;
                    border-bottom: 5px solid $blue;
                    padding-bottom: 40px;
                }
            }

            input {
                border: none;
                text-align: right;
                border-bottom: 2px solid #7979fd;
            }

            .nav-link:hover {
                color: $blue;
            }
        }
    }
}

.jumbo {
    height: 350px;
    width: 100%;
    background-image: url('/resources/images/jumbotron.jpg');
    background-size: cover;
}